body{
	width:100%;
}
#main_logo{
	width: 1200px;
	margin: 200px auto 100px auto;
	text-align:center;
}
.header{
	margin: 10px auto 0 auto;
	text-align:center;
}
.wrap{
	width: 60%;
	margin: 0 auto;
}
.login_input{
	padding-top: 15px;
	width: 400px;
	margin: 0 auto;
	clear: both;
}
.login_label{
	float: left;
}
.login_button{
	width: 194px;
	float:left;
	margin: 0 3px;
}

.nav_list{
	margin-top: 10px;
}

.add_subject{
	width: 194px;
	float:right;
	margin: 0 3px;
}