body{
	width:100%;
}
.caption{
   height: 26px;
}
.caption h3{
   width : 220px;
   text-overflow: ellipsis; 
   white-space: nowrap; 
   overflow: hidden;
   margin-bottom: 0;
   float:left;
   margin-top:0px;
}
#caption_name{
   margin-top: 7px;
}
.caption button{
   float: left;
}


.navbar-nav>li>a{
   padding-top:15px;
   padding-bottom: 15px;
}
.navbar-btn {
   margin: 0px;
}
#main_logo{
	width: 60%;
	margin: 200px auto 100px auto;
	text-align:center;
}
.header{
	margin: 10px auto 0 auto;
	text-align:center;
}
.header nav{
	width: 100%;
}
.wrap{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
}
.login_input{
	padding-top: 15px;
	width: 400px;
	margin: 0 auto;
	clear: both;
}
.login_label{
	float: left;
}
.login_button{
	width: 194px;
	float:left;
	margin: 0 3px;
}
.join_button{ 
	width: 100%; 
	margin: 0 3px; 
}

.nav_list{
	margin-top: 10px;
}

.add_subject{
	width: 194px;
	float:right;
	margin: 0 3px;
}
.my-error-class {
    color:#FF0000;  /* red */
}