body{
	height: 100%;
}
.section{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 630px;
}

#slide-container{
	float: left;
	width: 70%;
	height: 100%;
}

#slideShow{
	width: 100%;
	height: 100%;
}
#basic-canvas{
	border: 1px solid rgb(170, 170, 170); 
	position: absolute; 
	left: 0px; 
	top: 0px; 
	-webkit-user-select: none;
}
#tools{
	width: 100%;
	height: 6%;
	display: inline-block; 
	vertical-align:middle;
	padding:2px; 
	float:left; 
	background-color: #323232;
	position: static;
}
#tools div, nav{
	float:left;
	margin:0 2px;
}

#drawing-line-color li .colorBtn{
	width:34px;
	height:34px;
}
#fullScreenBtn, #nextPageBtn, #prePageBtn{
	float:right;
	width:34px;
	height:34px;
	padding:0;
}

#slide_list{
	overflow:auto;
	width: 100%;
	height: 224px;
}

.slide_contents{
	display: inline-block;
	/*vertical-align:middle;
	text-align:center;*/
	height: 100%;
	width:25%;
	padding:0;
}
.slide_contents a img{
	width: 100%;
	height: 100%;
	background-image:url(../image/temp.png);
}

#right_wrap{
	float: right;
	margin-bottom: 0;
	width: 30%;
	height: 100%;
	padding: 0;
	display: inline-block;
}

#buttonContainer{
	text-align: center;
	height:6%;
}

#buttonContainer h3{
	margin: 0;
}

#optionBtn{
	width: 90%;
	margin-top: 5%;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
#questionContainer{
	width:90%;
	height: 25%;
	margin-bottom: 5%; 
	margin-right: auto;
	margin-left: auto;
}

#writingContainer{
	width:90%;
	height:60%;
	margin: 5% auto;
}

#writeArea{
	height: 100%;
	overflow:auto;
}

#questionArea{
	height: 100%;
	overflow:auto;
}

#professorContainer{
	width: 90%;
	margin: 5% auto;
	display: block;
	height: 95%;
	overflow-y: auto;
	overflow-x: hidden;
}

.alert{
	word-break: break-all;
}